{% extends "base.html" %}
{% block title%} Ocultar| Comunicaciones Invisibles {% endblock %}

{% block content %}
    <section class="section" style="position: relative; z-index: 10;">
        <h2 class="title-blue">Ocultar Información</h2>
        <p style="text-align: center; color: #64748B; margin-bottom: 10px;">Oculta datos en imágenes usando AES-256 + LSB</p>

        <div class="card">

            <form action="{{ url_for('ocultar') }}" method="POST" enctype="multipart/form-data">
                
                <label for="imgOriginal">1. Imagen Original (PNG)</label>

                <input type="file" id="imagen" name="imagen" accept=".png" required>

                <label for="txtMensaje">2. Mensaje Secreto</label>
                <textarea id="mensaje" name="mensaje" placeholder="Escribe aquí tu secreto..." required></textarea>

                <label for="passEnc">3. Contraseña (AES-256)</label>
                <div class="input-wrapper">
                    <input type="password" id="password" name="password" placeholder="Define una clave segura" required>
                    <button type="button" class="btn btn-blue" onclick="copiarTexto('password')">
                        Copiar
                    </button>
                </div>

                <button type="submit" class="btn btn-blue" style="width: 100%; margin-top: 30px;">
                    Generar Imagen Segura
                </button>

            </form>

        </div>
    </section>
{% endblock %}
{% block scripts %}
{% endblock %}

