{% extends "base.html" %}
{% block title%} Revelar| Comunicaciones Invisibles {% endblock %}

{% block content %}
<section class="section" style="position: relative; z-index: 10;">

    <h2 class="title-purple">Revelar Información</h2>
    <p style="text-align: center; color: #64748B; margin-bottom: 10px;">Extrae mensajes ocultos en imágenes usando
        AES-256 + LSB</p>

    <div class="card">

        <form action="{{ url_for('revelar') }}" method="POST" enctype="multipart/form-data">

            <label for="imgStego">1. Imagen con Secreto (PNG)</label>
            <input type="file" id="imgStego" name="imagen_stego" accept=".png" required>
            <label for="passDec">2. Contraseña Original</label>
            <div class="input-wrapper">
                <input type="password" id="passDec" name="password_reveal" placeholder="La misma que usaste al crearla"
                    required>
            </div>
            <button type="submit" class="btn btn-purple" style="width: 100%; margin-top: 30px;">
                Leer Mensaje Oculto
            </button>
        </form>
    </div>
</section>
{% endblock %}
{% block scripts %}
{% endblock %}
